In [13]:
#import splinter and beautiful soup 

from splinter import Browser

from bs4 import BeautifulSoup as soup

from webdriver_manager.chrome import ChromeDriverManager

# pandas for table scraping

import pandas as pd

In [2]:
#set up path 

executable_path = {"executable_path": ChromeDriverManager().install()}

browser = Browser("chrome", **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 100.0.4896
Get LATEST chromedriver version for 100.0.4896 google-chrome
Trying to download new driver from https://chromedriver.storage.googleapis.com/100.0.4896.60/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\sarah\.wdm\drivers\chromedriver\win32\100.0.4896.60]

### News

In [3]:
#assign url 

url = 'https://redplanetscience.com'
browser.visit(url)

# delay for loading the page
browser.is_element_present_by_css('div.list_text', wait_time=1)

True

In [4]:
#html parser

html = browser.html

news_soup = soup(html, "html.parser")

slide_elem = news_soup.select_one("div.list_text")

In [6]:
#title 
    #chain find 

news_title = slide_elem.find('div', class_='content_title').text

news_title

"NASA's Mars 2020 Heads Into the Test Chamber"

In [7]:
# teaser text
    #change class, use find not find all to only pull first 
news_p = slide_elem.find('div', class_='article_teaser_body').get_text()
news_p

'In this time-lapse video taken at JPL, engineers move the Mars 2020 rover into a large vacuum chamber for testing in Mars-like environmental conditions.'

### Featured Images

In [8]:
# Visit URL
url = 'https://spaceimages-mars.com'
browser.visit(url)

In [9]:
# find and click the full image button
    #use 1 to find second button tag - there are 3 on the page
full_image_elem = browser.find_by_tag('button')[1]
full_image_elem.click()

In [10]:
#parse image w soup

html = browser.html
img_soup = soup(html, 'html.parser')

In [11]:
#relative image url

img_url_rel = img_soup.find('img', class_='fancybox-image').get('src')
img_url_rel

'image/featured/mars2.jpg'

In [12]:
#add base to relative url 

img_url = f"https://spaceimages-mars.com/{img_url_rel}"

img_url

'https://spaceimages-mars.com/image/featured/mars2.jpg'

### Facts

In [14]:
#scrape table with pandas 
    #index 0 is first table it encounters on page 

df = pd.read_html('https://galaxyfacts-mars.com')[0]
df.columns=['description', 'Mars', 'Earth']
df.set_index('description', inplace=True)
df

                                    Mars            Earth
description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [16]:
#df to html

df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [17]:
#quit broswer 

browser.quit()